@page
@model Thesis.Pages.Experts.IndexModel
@using Microsoft.AspNetCore.Identity
@using Thesis.Model
@using Thesis.Areas.Identity.Pages.Account.Manage
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Experts";
    ViewData["ActivePage"] = ManageNavPages.Experts;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<header class="page_header">
    <form asp-page="Index" class="form--wide form--primary block form form--vendor-search" method="get" data-component="form">
        <div class="form_fields">
            <div class="form_field form_field--search">
                <input type="search" name="searchStr" value="@Model.CurrentSearch" placeholder="Keywords" maxlength="256" class="field field--search">
                @if (Model.CurrentTags != null)
                {
                    <input type="hidden" name="tags" value="@Model.CurrentTags">
                }
                @if (Model.CurrentHourlyRateMin != null)
                {
                    <input type="hidden" name="hourlyRateMin" value="@Model.CurrentHourlyRateMin">
                }
                @if (Model.CurrentHourlyRateMax != null)
                {
                    <input type="hidden" name="hourlyRateMax" value="@Model.CurrentHourlyRateMax">
                }

                @if (Model.CurrentAvailability != null)
                {
                    <input type="hidden" name="availability" value="@Model.CurrentAvailability">
                }

                @if (Model.CurrentExperience != null)
                {
                    <input type="hidden" name="experience" value="@Model.CurrentExperience">
                }

                @if (Model.CurrentSort != null)
                {
                    <input type="hidden" name="sortOrder" value="@Model.CurrentSort">
                }
            </div>
        </div>
        <div class="form_footer">
            <button type="submit" class="form_button btn btn-primary btn-lg alt field field--submit">
                <span>Search</span>
            </button>
        </div>
    </form>
    <button type="button" class="btn btn-lg button button--wide button--mobile button--vendor-filter" data-toggle="modal" data-target="#filterModalCenter" onclick="showModal()">
        <i class="icon fas fa-sliders-h"></i>
        <span>Filter</span>
    </button>
</header>

<div class="row">
    <aside class="page_sidebar col-sm-4 site-sidebar">
        <div>
            <div>
                <div class="widget widget widget--vendor-filter">
                    <div id="filterModalCenter" tabindex="-1" role="dialog" aria-labelledby="filterModalCenterTitle" aria-hidden="true">
                        <div id="mod_dialog" role="document">
                            <div id="mod_content">
                                <div class="modal-header" id="mod_header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Filter</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="mod_body">
                                    <form asp-page="Index" method="get" data-component="form" class="form form--vendor-filter">
                                        <div class="form_fields">
                                            @if (Model.CurrentSearch != null)
                                            {
                                                <input type="hidden" name="searchStr" value="@Model.CurrentSearch">
                                            }
                                            <div class="form_field form_field--select">
                                                <label class="field_label form_label"><span>Tags</span></label>
                                                <input id="multidatalist" list="tags-list" name="tags" class="form-control" multiple />
                                                <datalist id="tags-list">
                                                    <option selected value="">-</option>
                                                    @foreach (var item in Model.TagsList)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </datalist>
                                            </div>
                                            <div class="form_field form_field--number-range">
                                                <label class="field_label form_label"><span>Hourly Rate</span></label>
                                                <div class="field field--number-range">
                                                    <input type="number" name="hourlyRateMin" value="@Model.CurrentHourlyRateMin" id="filter-min" placeholder="Min" step="1" class="field field--number form-control">
                                                    <input type="number" name="hourlyRateMax" value="@Model.CurrentHourlyRateMax" id="filter-max" placeholder="Max" step="1" class="field field--number form-control">
                                                    <div>
                                                        <div id="slider-range" data-min="@Model.minimumHourlyRate" data-max="@Model.maximumHourlyRate"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form_field form_field--select">
                                                <label class="field_label form_label">
                                                    <span>Availability</span>
                                                </label>
                                                <select name="availability" id="availabilityList" class="field field--select form-control" asp-items="@Model.ExpertAvailability">
                                                </select>
                                            </div>
                                            <div class="form_field form_field--select">
                                                <label class="field_label form_label">
                                                    <span>Experience</span>
                                                </label>
                                                <select name="experience" id="experienceList" class="field field--select form-control" asp-items="@Model.ExpertExperience">
                                                </select>
                                            </div>
                                            @if (Model.CurrentSort != null)
                                            {
                                                <input type="hidden" name="sortOrder" value="@Model.CurrentSort">
                                            }
                                        </div>
                                        <div class="form_footer">
                                            <button type="submit" class="form_button btn btn-lg btn-primary alt field field--submit w-100" onclick="updateRangeValues()">
                                                <span>Filter</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div class="page_content col-sm-8">
        @if (Model.Experts.Count() > 0)
        {
            <div class="page_topbar">
                <div class="result-count">Showing @Model.Experts.GetStartRange() - @Model.Experts.GetEndRange() results of @Model.Experts.GetTotalCount()</div>
                <form asp-page="Index" class="form--pivot form form--vendor-sort" data-autosubmit="true" method="get" data-component="form">
                    <div class="form_fields">
                        @if (Model.CurrentSearch != null)
                        {
                            <input type="hidden" name="searchStr" value="@Model.CurrentSearch">
                        }
                        @if (Model.CurrentTags != null)
                        {
                            <input type="hidden" name="tags" value="@Model.CurrentTags">
                        }
                        @if (Model.CurrentHourlyRateMin != null)
                        {
                            <input type="hidden" name="hourlyRateMin" value="@Model.CurrentHourlyRateMin">
                        }
                        @if (Model.CurrentHourlyRateMax != null)
                        {
                            <input type="hidden" name="hourlyRateMax" value="@Model.CurrentHourlyRateMax">
                        }

                        @if (Model.CurrentAvailability != null)
                        {
                            <input type="hidden" name="availability" value="@Model.CurrentAvailability">
                        }

                        @if (Model.CurrentExperience != null)
                        {
                            <input type="hidden" name="experience" value="@Model.CurrentExperience">
                        }
                        <div class="form_field form_field--select">
                            <label class="field_label form_label">
                                <span>Sort by</span>
                            </label>
                            <select id="sortList" name="sortOrder" data-style="inline" required="required" data-component="select" class="field field--select form-control" onchange="this.form.submit()">
                                <option name="@Model.CurrentSort" value="rating_desc">Rating ↓</option>
                                <option name="@Model.CurrentSort" value="rating_asc">Rating ↑</option>
                                <option name="@Model.CurrentSort" value="date_desc">Registration Date ↓</option>
                                <option name="@Model.CurrentSort" value="date_asc">Registration Date ↑</option>
                                <option name="@Model.CurrentSort" value="name_desc">Name ↓</option>
                                <option name="@Model.CurrentSort" value="name_asc">Name ↑</option>
                                <option name="@Model.CurrentSort" value="rate_desc">Hourly Rate ↓</option>
                                <option name="@Model.CurrentSort" value="rate_asc">Hourly Rate ↑</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        }

        <div class="vendors block grid">
            @if (Model.Experts.Count() > 0)
            {
                <div class="row">
                    @foreach (var item in Model.Experts)
                    {
                        <div class="grid_item col-sm-6">
                            <article class="vendor vendor--view-block">
                                <header class="vendor_header">
                                    <div class="vendor_image">
                                        <a asp-page="View" asp-route-id="@item.User.UserName">
                                            <img src="~/uploadfiles/profiles/@(item.User.ProfilePicture?? "user-square.svg")" alt="@item.User.FirstName @item.User.LastName" loading="lazy">
                                        </a>
                                    </div>
                                </header>
                                <div class="vendor_content">
                                    <h4 class="vendor_name">
                                        <a asp-page="View" asp-route-id="@item.User.UserName" class="link">@item.User.FirstName @item.User.LastName</a>
                                        @if (item.User.EmailConfirmed)
                                        {
                                            <i class="vendor_verified-badge icon fas fa-check-circle" title="Verified"></i>
                                        }
                                    </h4>
                                    <div class="vendor_details vendor_details--primary">
                                        @if (item.AverageRating != null)
                                        {
                                            <div class="vendor_rating rating rating--large">
                                                <div class="rating_bar">
                                                    <span class="progressbar"></span>
                                                </div>
                                                <div class="rating_details">
                                                    <span class="rating_value">
                                                        <i class="fas fa-star"></i>
                                                        <span class="review_rating">
                                                            @item.AverageRating
                                                        </span>
                                                    </span>
                                                    <span class="rating_count">(@item.CountAllRatings)</span>
                                                </div>
                                            </div>
                                        }
                                        <time class="vendor_registered-date vendor_date meta" datetime="@item.User.RegistrationDate">
                                            <span class="d-none registration_date">@item.User.RegistrationDate</span>
                                            <span class="datetime">Member since </span>
                                        </time>
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute vendor_attribute--availability">
                                            <i class="icon fas fa-fw fa-clock"></i>
                                            <span>@item.Availability</span>
                                        </div>
                                        <div class="vendor_attribute vendor_attribute--experience">
                                            <i class="icon fas fa-fw fa-poll"></i>
                                            <span>@item.Experience</span>
                                        </div>
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute vendor_attribute--email">
                                            <a href="mailto:@item.User.Email" class="link">
                                                <i class="icon fa fa-envelope"></i>
                                                <span>@item.User.Email</span>
                                            </a>
                                        </div>
                                        @if (item.User.PhoneNumber != null)
                                        {
                                            <div class="vendor_attribute vendor_attribute--tel">
                                                <a href="tel:@item.User.PhoneNumber" class="link">
                                                    <i class="fa-solid fa-phone"></i>
                                                    <span>@item.User.PhoneNumber</span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute section tagcloud">
                                            @{
                                                List<string> tags = item.Tags.Split(',').ToList();
                                            }
                                            @foreach (var tag in tags)
                                            {
                                                <a asp-page="Index" asp-route-tags="@tag" class="tag-cloud-link">@tag</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <footer class="vendor_footer">
                                    <div class="block vendor_attributes vendor_attributes--primary">
                                        <div class="vendor_attribute vendor_attribute--hourly-rate">@item.HourlyRate€ / hr</div>
                                    </div>
                                    <div class="vendor_actions vendor_actions--primary">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            if (!UserManager.GetUserId(User).Equals(item.Id))
                                            {
                                                <a data-toggle="modal" data-target="#messageModal" onclick="setMessageValues('Send Message', null, '@item.Id');" title="Send Message" class="vendor_action vendor_action--message">
                                                    <i class="icon fas fa-comment"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="listing_action listing_action--edit link">
                                                    <i class="icon fas fa-edit"></i>
                                                    <span>Edit Profile</span>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Experts" title="Send Message" class="vendor_action vendor_action--message">
                                                <i class="icon fas fa-comment"></i>
                                            </a>
                                        }
                                    </div>
                                </footer>
                            </article>
                        </div>
                    }
                </div>

                @if (Model.Experts.TotalPages > 1)
                {
                    <nav class="navigation pagination" aria-label="Posts">
                        <div class="nav-links">

                            @if (Model.Experts.PageIndex != 1)
                            {
                                <a asp-page="Index"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-tags="@Model.CurrentTags"
                                   asp-route-hourlyRateMin="@Model.CurrentHourlyRateMin"
                                   asp-route-hourlyRateMax="@Model.CurrentHourlyRateMax"
                                   asp-route-availability="@Model.CurrentAvailability"
                                   asp-route-experience="@Model.CurrentExperience"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="1"
                                   class="first">
                                    First
                                </a>
                            }

                            @if (Model.Experts.HasPreviousPage)
                            {
                                <a asp-page="Index"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-tags="@Model.CurrentTags"
                                   asp-route-hourlyRateMin="@Model.CurrentHourlyRateMin"
                                   asp-route-hourlyRateMax="@Model.CurrentHourlyRateMax"
                                   asp-route-availability="@Model.CurrentAvailability"
                                   asp-route-experience="@Model.CurrentExperience"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Experts.PageIndex - 1)"
                                   class="prev">
                                </a>
                            }

                            @for (int i = Model.Experts.PageLeft; i <= Model.Experts.PageRight; i++)
                            {
                                if (i == Model.Experts.PageIndex)
                                {
                                    <a onclick="return false" class="active">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="Index"
                                       asp-route-searchStr="@Model.CurrentSearch"
                                       asp-route-tags="@Model.CurrentTags"
                                       asp-route-hourlyRateMin="@Model.CurrentHourlyRateMin"
                                       asp-route-hourlyRateMax="@Model.CurrentHourlyRateMax"
                                       asp-route-availability="@Model.CurrentAvailability"
                                       asp-route-experience="@Model.CurrentExperience"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@i">
                                        @i
                                    </a>
                                }
                            }

                            @if (Model.Experts.HasNextPage)
                            {
                                <a asp-page="Index"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-tags="@Model.CurrentTags"
                                   asp-route-hourlyRateMin="@Model.CurrentHourlyRateMin"
                                   asp-route-hourlyRateMax="@Model.CurrentHourlyRateMax"
                                   asp-route-availability="@Model.CurrentAvailability"
                                   asp-route-experience="@Model.CurrentExperience"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Experts.PageIndex + 1)"
                                   class="next">
                                </a>
                            }

                            @if (Model.Experts.PageIndex != Model.Experts.TotalPages)
                            {
                                <a asp-page="Index"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-tags="@Model.CurrentTags"
                                   asp-route-hourlyRateMin="@Model.CurrentHourlyRateMin"
                                   asp-route-hourlyRateMax="@Model.CurrentHourlyRateMax"
                                   asp-route-availability="@Model.CurrentAvailability"
                                   asp-route-experience="@Model.CurrentExperience"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@Model.Experts.TotalPages"
                                   class="last">
                                    Last
                                </a>
                            }

                        </div>
                    </nav>
                }
            }
            else
            {
                <h2>Nothing found</h2>
                <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
            }
        </div>
    </div>
</div>

<partial name="_Message" model="Model.Message" />

@if (Model.CurrentSort != null)
{
    <script>
        document.getElementById('sortList').value = '@Model.CurrentSort';
    </script>
}

@if (Model.CurrentTags != null)
{
    <script>
        document.getElementById('multidatalist').value = '@Model.CurrentTags';
    </script>
}

@if (Model.CurrentAvailability != null)
{
    <script>
        document.getElementById('availabilityList').value = '@Model.CurrentAvailability';
    </script>
}

@if (Model.CurrentExperience != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('experienceList').value = decodeEntities('@Model.CurrentExperience');
        }, false);
    </script>
}

@if (Model.CurrentHourlyRateMin != null)
{
    <script>
        document.getElementById('filter-min').value = '@Model.CurrentHourlyRateMin';
    </script>
}

@if (Model.CurrentHourlyRateMax != null)
{
    <script>
        document.getElementById('filter-max').value = '@Model.CurrentHourlyRateMax';
    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
