@page
@model Thesis.Pages.Experts.ViewModel
@using Microsoft.AspNetCore.Identity
@using Thesis.Model
@using Thesis.Areas.Identity.Pages.Account.Manage
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = Model.Expert.User.FirstName + " " + Model.Expert.User.LastName;
    ViewData["ActivePage"] = ManageNavPages.Experts;
    ViewData["ExpertUsername"] = Model.Expert.User.UserName;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row vendor">
    <aside class="col-sm-4 vendor--view-page">
        <div>
            <div>
                <div class="vendor_summary widget widget">
                    <div class="vendor_image">
                        <img src="~/uploadfiles/profiles/@(Model.Expert.User.ProfilePicture?? "user-square.svg")" alt="@Model.Expert.User.FirstName @Model.Expert.User.LastName" loading="lazy">
                    </div>
                    <h3 class="vendor_name text-center">
                        <span>@Model.Expert.User.FirstName @Model.Expert.User.LastName</span>
                        @if (Model.Expert.User.EmailConfirmed)
                        {
                            <i class="vendor_verified-badge icon fas fa-check-circle" title="Verified"></i>
                        }
                    </h3>
                    <div class="vendor_details vendor_details--primary">
                        <time class="vendor_registered-date vendor_date meta" datetime="@Model.Expert.User.RegistrationDate">
                            <span class="d-none registration_date">@Model.Expert.User.RegistrationDate</span>
                            <span class="datetime">Member since </span>
                        </time>
                        @if (Model.Expert.AverageRating != null)
                        {
                            <div class="vendor_rating rating rating--large">
                                <div class="rating_bar">
                                    <span class="progressbar"></span>
                                </div>
                                <div class="rating_details">
                                    <span class="rating_value">
                                        <i class="fas fa-star"></i>                                                                    <span class="review_rating">
                                            @Model.Expert.AverageRating
                                        </span>
                                    </span>
                                    <span class="rating_count">(@Model.Expert.CountAllRatings)</span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="vendor_attributes vendor_attributes--secondary">
                        <div class="vendor_attribute vendor_attribute--availability">
                            <i class="icon fas fa-fw fa-clock"></i>
                            <span>@Model.Expert.Availability</span>
                        </div>
                        <div class="vendor_attribute vendor_attribute--experience">
                            <i class="icon fas fa-fw fa-poll"></i>
                            <span>@Model.Expert.Experience</span>
                        </div>

                        <div class="vendor_attribute vendor_attribute--email">
                            <a href="mailto:@Model.Expert.User.Email" class="link">
                                <i class="icon fa fa-envelope"></i>
                                <span>@Model.Expert.User.Email</span>
                            </a>
                        </div>
                        @if (Model.Expert.User.PhoneNumber != null)
                        {
                            <div class="vendor_attribute vendor_attribute--tel">
                                <a href="tel:@Model.Expert.User.PhoneNumber" class="link">
                                    <i class="fa-solid fa-phone"></i>
                                    <span>@Model.Expert.User.PhoneNumber</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="vendor_attributes vendor_attributes--secondary">
                        <div class="vendor_attribute section tagcloud">
                            @foreach (var tag in Model.tags)
                            {
                                <a asp-page="Index" asp-route-tags="@tag" class="tag-cloud-link">@tag</a>
                            }
                        </div>
                    </div>

                    <div class="vendor_description">
                        <p class="long-profile-text">@Model.Expert.ProfileInfo</p>
                    </div>
                </div>
                <div class="block vendor_attributes vendor_attributes--primary widget widget" data-block="vendor_attributes_primary">
                    <div class="vendor_attribute vendor_attribute--hourly-rate text-center">@Model.Expert.HourlyRate€ / hr</div>
                </div>
                <div class="vendor_actions vendor_actions--primary widget widget">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (!UserManager.GetUserId(User).Equals(Model.Expert.Id))
                        {
                            <button type="button" data-toggle="modal" data-target="#messageModal" onclick="setMessageValues('Send Message', null, '@Model.Expert.Id');" class="vendor_action vendor_action--message btn btn-lg btn-primary alt">Send Message</button>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="vendor_action vendor_action--message btn btn-lg btn-primary alt">
                                <span>Edit Profile</span>
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Experts/View?id=@Model.Expert.User.UserName" class="vendor_action vendor_action--message btn btn-lg btn-primary alt">Send Message</a>
                    }
                </div>
            </div>
        </div>
    </aside>

    <div class="page_content col-sm-8">

        <h1 class="page_title">Listings by @Model.Expert.User.FirstName @Model.Expert.User.LastName</h1>

        <header class="page_header">
            <form asp-page="View" class="form--wide form--primary block form form--vendor-search" method="get" data-component="form">
                <div class="form_fields">
                    <div class="form_field form_field--search">
                        <input type="hidden" name="id" value="@Model.Expert.User.UserName" />
                        <input type="search" name="searchStr" value="@Model.CurrentSearch" placeholder="Keywords" maxlength="256" class="field field--search">
                        @if (Model.CurrentSort != null)
                        {
                            <input type="hidden" name="sortOrder" value="@Model.CurrentSort">
                        }
                    </div>
                </div>
                <div class="form_footer">
                    <button type="submit" class="form_button btn btn-primary btn-lg alt field field--submit">
                        <span>Search</span>
                    </button>
                </div>
            </form>
        </header>

        @if (Model.ExpertsListings.Count() > 0)
        {
            <div class="page_topbar">
                <div class="result-count">Showing @Model.ExpertsListings.GetStartRange() - @Model.ExpertsListings.GetEndRange() results of @Model.ExpertsListings.GetTotalCount()</div>
                <form asp-page="View" class="form--pivot form form--vendor-sort" data-autosubmit="true" method="get" data-component="form">
                    <div class="form_fields">
                        <input type="hidden" name="id" value="@Model.Expert.User.UserName" />
                        @if (Model.CurrentSearch != null)
                        {
                            <input type="hidden" name="searchStr" value="@Model.CurrentSearch">
                        }
                        <div class="form_field form_field--select">
                            <label class="field_label form_label">
                                <span>Sort by</span>
                            </label>
                            <select id="sortList" name="sortOrder" required="required" class="field field--select form-control" onchange="this.form.submit()">
                                <option name="@Model.CurrentSort" value="rating_desc">Rating ↓</option>
                                <option name="@Model.CurrentSort" value="rating_asc">Rating ↑</option>
                                <option name="@Model.CurrentSort" value="date_desc">Date ↓</option>
                                <option name="@Model.CurrentSort" value="date_asc">Date ↑</option>
                                <option name="@Model.CurrentSort" value="title_desc">Title ↓</option>
                                <option name="@Model.CurrentSort" value="title_asc">Title ↑</option>
                                <option name="@Model.CurrentSort" value="rate_desc">Hourly Rate ↓</option>
                                <option name="@Model.CurrentSort" value="rate_asc">Hourly Rate ↑</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        }

        @if (SignInManager.IsSignedIn(User))
        {
            if (UserManager.GetUserId(User).Equals(Model.Expert.Id))
            {
                <div class="admin-actions create">
                    <a asp-page="/Listings/Create" class="btn btn-primary">Create New Listing</a>
                </div>
            }
        }

        <div class="listings block grid">
            @if (Model.ExpertsListings.Count() > 0)
            {
                foreach (var item in Model.ExpertsListings)
                {
                    <div class="grid_item col-12">
                        <article class="listing listing--view-block">
                            <div class="listing_content">
                                <h4 class="listing_title">
                                    <a asp-page="/Listings/View" asp-route-id="@item.Id" class="link">@item.Title</a>
                                </h4>
                                <div class="listing_details listing_details--primary">
                                    <div class="listing_vendor">
                                        <a asp-page="View" asp-route-id="@Model.Expert.User.UserName" class="link">@Model.Expert.User.FirstName @Model.Expert.User.LastName</a>
                                    </div>
                                    @if (item.CategoryId != null)
                                    {
                                        <div class="listing_categories listing_category">
                                            <a asp-page="/Listings/Index" asp-route-category="@item.ListingCategory.CategoryName" class="link">@item.ListingCategory.CategoryName</a>
                                        </div>
                                    }
                                    @if (item.AverageRating != null)
                                    {
                                        <div class="listing_rating rating">
                                            <div class="rating_bar">
                                                <span class="progressbar"></span>
                                            </div>
                                            <div class="rating_details">
                                                <span class="rating_value">
                                                    <i class="fas fa-star"></i>
                                                    <span class="review_rating">@item.AverageRating</span>
                                                </span>
                                                <span class="rating_count">(@item.CountAllRatings)</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="listing_attributes listing_attributes--secondary">
                                    <div class="listing_attribute listing_attribute--availability">
                                        <i class="icon fas fa-fw fa-calendar-check"></i> @item.Availability
                                    </div>
                                </div>
                            </div>
                            <footer class="listing_footer">
                                <div class="block listing_attributes listing_attributes--primary" data-block="listing_attributes_primary">
                                    <div class="listing_attribute listing_attribute--hourly-rate">@item.HourlyRate€ / hr</div>
                                </div>
                                <div class="listing_actions listing_actions--primary">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        if (!UserManager.GetUserId(User).Equals(item.ExpertId))
                                        {
                                            <a data-toggle="modal" data-target="#messageModal" onclick="setMessageValues('Reply to Listing', @item.Id, '@item.ExpertId');" title="Reply to Listing" class="listing_action listing_action--message">
                                                <i class="icon fas fa-comment"></i>
                                            </a>
                                            if (Model.ExistingFavourite.Any(x => x.ListingId == item.Id))
                                            {
                                                foreach (var favourite in Model.ExistingFavourite)
                                                {
                                                    if (item.Id.Equals(favourite.ListingId))
                                                    {
                                                        <form method="post" asp-page-handler="DeleteFavourite" asp-route-id="@favourite.Id" asp-route-id2="@Model.Expert.User.UserName">
                                                            <button class="listing_action listing_action--favorite" data-state="active" title="Remove from Favourites">
                                                                <i class="icon fas fa-heart"></i>
                                                            </button>
                                                        </form>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <form method="post" asp-page-handler="AddFavourite" asp-route-id="@Model.Expert.User.UserName">
                                                    <input type="hidden" asp-for="Favourite.IdUser" value="@UserManager.GetUserId(User)" />
                                                    <input type="hidden" asp-for="Favourite.ListingId" value="@item.Id" />
                                                    <button class="listing_action listing_action--favorite" title="Add to Favourites">
                                                        <i class="icon fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Experts/View?id=@Model.Expert.User.UserName" title="Reply to Listing" class="listing_action listing_action--message">
                                            <i class="icon fas fa-comment"></i>
                                        </a>
                                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Experts/View?id=@Model.Expert.User.UserName" title="Add to Favourites" class="listing_action listing_action--favorite">
                                            <i class="icon fas fa-heart"></i>
                                        </a>
                                    }
                                </div>
                            </footer>
                        </article>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (UserManager.GetUserId(User).Equals(item.ExpertId))
                            {
                                <footer class="listing_footer_secondary">
                                    <div class="listing_attributes listing_attributes--primary"></div>
                                    <div class="listing_actions listing_actions--primary">
                                        <form method="post" asp-page-handler="ChangeVisibility" asp-route-id="@item.Id">
                                            <button class="listing_action listing_action--hide link">
                                                @if (item.Visibility)
                                                {
                                                    <i class="icon fas fa-eye-slash"></i>
                                                    <span>Hide</span>
                                                }
                                                else
                                                {
                                                    <i class="icon fas fa-eye"></i>
                                                    <span>Unhide</span>
                                                }
                                            </button>

                                        </form>
                                        <a asp-page="/Listings/Edit" asp-route-id="@item.Id" class="listing_action listing_action--edit link">
                                            <i class="icon fas fa-edit"></i>
                                            <span>Edit</span>
                                        </a>
                                        <button data-toggle="modal" data-target="#deleteModal" class="listing_action listing_action--delete link" onclick="setDeleteValues('Delete Listing', 'Are you sure you want to delete this listing?', '@item.Id');">
                                            <i class="icon fas fa-times"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                </footer>
                            }
                        }
                    </div>
                }

                @if (Model.ExpertsListings.TotalPages > 1)
                {
                    <nav class="navigation pagination" aria-label="Posts">
                        <div class="nav-links">

                            @if (Model.ExpertsListings.PageIndex != 1)
                            {
                                <a asp-page="View"
                                   asp-route-id="@Model.Expert.User.UserName"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="1"
                                   class="first">
                                    First
                                </a>
                            }

                            @if (Model.ExpertsListings.HasPreviousPage)
                            {
                                <a asp-page="View"
                                   asp-route-id="@Model.Expert.User.UserName"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.ExpertsListings.PageIndex - 1)"
                                   class="prev">
                                </a>
                            }

                            @for (int i = Model.ExpertsListings.PageLeft; i <= Model.ExpertsListings.PageRight; i++)
                            {
                                if (i == Model.ExpertsListings.PageIndex)
                                {
                                    <a onclick="return false" class="active">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="View"
                                       asp-route-id="@Model.Expert.User.UserName"
                                       asp-route-searchStr="@Model.CurrentSearch"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@i">
                                        @i
                                    </a>
                                }
                            }

                            @if (Model.ExpertsListings.HasNextPage)
                            {
                                <a asp-page="View"
                                   asp-route-id="@Model.Expert.User.UserName"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.ExpertsListings.PageIndex + 1)"
                                   class="next">
                                </a>
                            }

                            @if (Model.ExpertsListings.PageIndex != Model.ExpertsListings.TotalPages)
                            {
                                <a asp-page="View"
                                   asp-route-id="@Model.Expert.User.UserName"
                                   asp-route-searchStr="@Model.CurrentSearch"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@Model.ExpertsListings.TotalPages"
                                   class="last">
                                    Last
                                </a>
                            }

                        </div>
                    </nav>
                }
            }
            else
            {
                <h2>Nothing found</h2>
                <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
            }

        </div>
    </div>
</div>

@if (Model.Experts.Count() > 0)
{
    <div class="page_footer">
        <div class="section">
            <h2 class="section_title">Related Experts</h2>
            <div class="vendors block grid load-more-grid">
                <div class="row">
                    @foreach (var item in Model.Experts)
                    {
                        <div class="grid_item col-sm-4">
                            <article class="vendor vendor--view-block">
                                <header class="vendor_header">
                                    <div class="vendor_image">
                                        <a asp-page="View" asp-route-id="@item.User.UserName">
                                            <img src="~/uploadfiles/profiles/@(item.User.ProfilePicture?? "user-square.svg")" alt="@item.User.FirstName @item.User.LastName" loading="lazy">
                                        </a>
                                    </div>
                                </header>
                                <div class="vendor_content">
                                    <h4 class="vendor_name">
                                        <a asp-page="View" asp-route-id="@item.User.UserName" class="link">@item.User.FirstName @item.User.LastName</a>
                                        @if (item.User.EmailConfirmed)
                                        {
                                            <i class="vendor_verified-badge icon fas fa-check-circle" title="Verified"></i>
                                        }
                                    </h4>
                                    <div class="vendor_details vendor_details--primary">
                                        @if (item.AverageRating != null)
                                        {
                                            <div class="vendor_rating rating rating--large">
                                                <div class="rating_bar">
                                                    <span class="progressbar"></span>
                                                </div>
                                                <div class="rating_details">
                                                    <span class="rating_value">
                                                        <i class="fas fa-star"></i>
                                                        <span class="review_rating">
                                                            @item.AverageRating
                                                        </span>
                                                    </span>
                                                    <span class="rating_count">(@item.CountAllRatings)</span>
                                                </div>
                                            </div>
                                        }
                                        <time class="vendor_registered-date vendor_date meta" datetime="@item.User.RegistrationDate">
                                            <span class="d-none registration_date">@item.User.RegistrationDate</span>
                                            <span class="datetime">Member since </span>
                                        </time>
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute vendor_attribute--availability">
                                            <i class="icon fas fa-fw fa-clock"></i>
                                            <span>@item.Availability</span>
                                        </div>
                                        <div class="vendor_attribute vendor_attribute--experience">
                                            <i class="icon fas fa-fw fa-poll"></i>
                                            <span>@item.Experience</span>
                                        </div>
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute vendor_attribute--email">
                                            <a href="mailto:@item.User.Email" class="link">
                                                <i class="icon fa fa-envelope"></i>
                                                <span>@item.User.Email</span>
                                            </a>
                                        </div>
                                        @if (item.User.PhoneNumber != null)
                                        {
                                            <div class="vendor_attribute vendor_attribute--tel">
                                                <a href="tel:@item.User.PhoneNumber" class="link">
                                                    <i class="fa-solid fa-phone"></i>
                                                    <span>@item.User.PhoneNumber</span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="vendor_attributes vendor_attributes--secondary">
                                        <div class="vendor_attribute section tagcloud">
                                            @{
                                                List<string> tags2 = item.Tags.Split(',').ToList();
                                            }
                                            @foreach (var tag in tags2)
                                            {
                                                <a asp-page="Index" asp-route-tags="@tag" class="tag-cloud-link">@tag</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <footer class="vendor_footer">
                                    <div class="block vendor_attributes vendor_attributes--primary" data-block="vendor_attributes_primary">
                                        <div class="vendor_attribute vendor_attribute--hourly-rate">@item.HourlyRate€ / hr</div>
                                    </div>
                                    <div class="vendor_actions vendor_actions--primary">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            if (!UserManager.GetUserId(User).Equals(item.Id))
                                            {
                                                <a data-toggle="modal" data-target="#messageModal" onclick="setMessageValues('Send Message', null, '@item.Id');" title="Send Message" class="vendor_action vendor_action--message">
                                                    <i class="icon fas fa-comment"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="listing_action listing_action--edit link">
                                                    <i class="icon fas fa-edit"></i>
                                                    <span>Edit Profile</span>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Experts/View?id=@Model.Expert.User.UserName" title="Send Message" class="vendor_action vendor_action--message">
                                                <i class="icon fas fa-comment"></i>
                                            </a>
                                        }
                                    </div>
                                </footer>
                            </article>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}
<partial name="_Message" model="Model.Message" view-data="ViewData" />

<partial name="_DeleteModal" />

@if (Model.CurrentSort != null)
{
    <script>
        document.getElementById('sortList').value = '@Model.CurrentSort';
    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}